/* Generated CSS Variables */

:root {
  /* Light Theme Colors */
  --color-primary: hsl(196, 68%, 51%);
  --color-on-primary: hsl(0, 0%, 100%);
  --color-primary-container: hsl(198, 100%, 71%);
  --color-on-primary-container: hsl(194, 100%, 20%);
  --color-secondary: hsl(203, 33%, 36%);
  --color-on-secondary: hsl(0, 0%, 100%);
  --color-secondary-container: hsl(204, 57%, 77%);
  --color-on-secondary-container: hsl(202, 46%, 26%);
  --color-tertiary: hsl(197, 58%, 32%);
  --color-on-tertiary: hsl(0, 0%, 100%);
  --color-tertiary-container: hsl(200, 72%, 75%);
  --color-on-tertiary-container: hsl(194, 100%, 20%);
  --color-error: hsl(1, 77%, 53%);
  --color-on-error: hsl(0, 0%, 100%);
  --color-error-container: hsl(7, 100%, 95%);
  --color-on-error-container: hsl(356, 90%, 39%);
  --color-background: hsl(0, 0%, 98%);
  --color-on-background: hsl(0, 0%, 11%);
  --color-surface: hsl(0, 0%, 98%);
  --color-on-surface: hsl(0, 0%, 11%);
  --color-surface-variant: hsl(15, 7%, 89%);
  --color-on-surface-variant: hsl(0, 1%, 28%);
  --color-outline: hsl(30, 1%, 47%);
  --color-outline-variant: hsl(20, 3%, 78%);
  --color-inverse-surface: hsl(0, 0%, 19%);
  --color-inverse-on-surface: hsl(0, 0%, 95%);
  --color-inverse-primary: hsl(198, 100%, 71%);
  --color-surface-dim: hsl(0, 0%, 85%);
  --color-surface-bright: hsl(0, 0%, 98%);
  --color-surface-container-lowest: hsl(0, 0%, 100%);
  --color-surface-container-low: hsl(0, 0%, 95%);
  --color-surface-container: hsl(0, 0%, 93%);
  --color-surface-container-high: hsl(0, 0%, 91%);
  --color-surface-container-highest: hsl(0, 0%, 95%);

  /* Typography */
  --typography-display-large-font-size: 56px;
  --typography-display-large-text-decoration: none;
  --typography-display-large-font-family: DM Sans;
  --typography-display-large-font-weight: 400;
  --typography-display-large-font-style: normal;
  --typography-display-large-font-stretch: normal;
  --typography-display-large-letter-spacing: 0px;
  --typography-display-large-line-height: 64px;
  --typography-display-large-paragraph-indent: 0px;
  --typography-display-large-paragraph-spacing: 0px;
  --typography-display-large-text-case: none;
  --typography-display-medium-font-size: 46px;
  --typography-display-medium-text-decoration: none;
  --typography-display-medium-font-family: DM Sans;
  --typography-display-medium-font-weight: 400;
  --typography-display-medium-font-style: normal;
  --typography-display-medium-font-stretch: normal;
  --typography-display-medium-letter-spacing: 0px;
  --typography-display-medium-line-height: 52px;
  --typography-display-medium-paragraph-indent: 0px;
  --typography-display-medium-paragraph-spacing: 0px;
  --typography-display-medium-text-case: none;
  --typography-display-small-font-size: 36px;
  --typography-display-small-text-decoration: none;
  --typography-display-small-font-family: DM Sans;
  --typography-display-small-font-weight: 400;
  --typography-display-small-font-style: normal;
  --typography-display-small-font-stretch: normal;
  --typography-display-small-letter-spacing: 0px;
  --typography-display-small-line-height: 44px;
  --typography-display-small-paragraph-indent: 0px;
  --typography-display-small-paragraph-spacing: 0px;
  --typography-display-small-text-case: none;
  --typography-headline-large-font-size: 32px;
  --typography-headline-large-text-decoration: none;
  --typography-headline-large-font-family: DM Sans;
  --typography-headline-large-font-weight: 500;
  --typography-headline-large-font-style: normal;
  --typography-headline-large-font-stretch: normal;
  --typography-headline-large-letter-spacing: 0px;
  --typography-headline-large-line-height: 40px;
  --typography-headline-large-paragraph-indent: 0px;
  --typography-headline-large-paragraph-spacing: 0px;
  --typography-headline-large-text-case: none;
  --typography-headline-medium-font-size: 28px;
  --typography-headline-medium-text-decoration: none;
  --typography-headline-medium-font-family: DM Sans;
  --typography-headline-medium-font-weight: 500;
  --typography-headline-medium-font-style: normal;
  --typography-headline-medium-font-stretch: normal;
  --typography-headline-medium-letter-spacing: 0px;
  --typography-headline-medium-line-height: 36px;
  --typography-headline-medium-paragraph-indent: 0px;
  --typography-headline-medium-paragraph-spacing: 0px;
  --typography-headline-medium-text-case: none;
  --typography-headline-small-font-size: 24px;
  --typography-headline-small-text-decoration: none;
  --typography-headline-small-font-family: DM Sans;
  --typography-headline-small-font-weight: 500;
  --typography-headline-small-font-style: normal;
  --typography-headline-small-font-stretch: normal;
  --typography-headline-small-letter-spacing: 0px;
  --typography-headline-small-line-height: 32px;
  --typography-headline-small-paragraph-indent: 0px;
  --typography-headline-small-paragraph-spacing: 0px;
  --typography-headline-small-text-case: none;
  --typography-title-large-font-size: 22px;
  --typography-title-large-text-decoration: none;
  --typography-title-large-font-family: DM Sans;
  --typography-title-large-font-weight: 400;
  --typography-title-large-font-style: normal;
  --typography-title-large-font-stretch: normal;
  --typography-title-large-letter-spacing: 0px;
  --typography-title-large-line-height: 28px;
  --typography-title-large-paragraph-indent: 0px;
  --typography-title-large-paragraph-spacing: 0px;
  --typography-title-large-text-case: none;
  --typography-title-medium-font-size: 16px;
  --typography-title-medium-text-decoration: none;
  --typography-title-medium-font-family: DM Sans;
  --typography-title-medium-font-weight: 400;
  --typography-title-medium-font-style: normal;
  --typography-title-medium-font-stretch: normal;
  --typography-title-medium-letter-spacing: 0px;
  --typography-title-medium-line-height: 24px;
  --typography-title-medium-paragraph-indent: 0px;
  --typography-title-medium-paragraph-spacing: 0px;
  --typography-title-medium-text-case: none;
  --typography-title-small-font-size: 14px;
  --typography-title-small-text-decoration: none;
  --typography-title-small-font-family: DM Sans;
  --typography-title-small-font-weight: 400;
  --typography-title-small-font-style: normal;
  --typography-title-small-font-stretch: normal;
  --typography-title-small-letter-spacing: 0px;
  --typography-title-small-line-height: 20px;
  --typography-title-small-paragraph-indent: 0px;
  --typography-title-small-paragraph-spacing: 0px;
  --typography-title-small-text-case: none;
  --typography-body-large-font-size: 16px;
  --typography-body-large-text-decoration: none;
  --typography-body-large-font-family: DM Sans;
  --typography-body-large-font-weight: 400;
  --typography-body-large-font-style: normal;
  --typography-body-large-font-stretch: normal;
  --typography-body-large-letter-spacing: 0px;
  --typography-body-large-line-height: 24px;
  --typography-body-large-paragraph-indent: 0px;
  --typography-body-large-paragraph-spacing: 0px;
  --typography-body-large-text-case: none;
  --typography-body-medium-font-size: 14px;
  --typography-body-medium-text-decoration: none;
  --typography-body-medium-font-family: DM Sans;
  --typography-body-medium-font-weight: 400;
  --typography-body-medium-font-style: normal;
  --typography-body-medium-font-stretch: normal;
  --typography-body-medium-letter-spacing: 0px;
  --typography-body-medium-line-height: 20px;
  --typography-body-medium-paragraph-indent: 0px;
  --typography-body-medium-paragraph-spacing: 0px;
  --typography-body-medium-text-case: none;
  --typography-body-small-font-size: 12px;
  --typography-body-small-text-decoration: none;
  --typography-body-small-font-family: DM Sans;
  --typography-body-small-font-weight: 400;
  --typography-body-small-font-style: normal;
  --typography-body-small-font-stretch: normal;
  --typography-body-small-letter-spacing: 0.012px;
  --typography-body-small-line-height: 16px;
  --typography-body-small-paragraph-indent: 0px;
  --typography-body-small-paragraph-spacing: 0px;
  --typography-body-small-text-case: none;
  --typography-label-large-font-size: 14px;
  --typography-label-large-text-decoration: none;
  --typography-label-large-font-family: DM Sans;
  --typography-label-large-font-weight: 500;
  --typography-label-large-font-style: normal;
  --typography-label-large-font-stretch: normal;
  --typography-label-large-letter-spacing: 0px;
  --typography-label-large-line-height: 20px;
  --typography-label-large-paragraph-indent: 0px;
  --typography-label-large-paragraph-spacing: 0px;
  --typography-label-large-text-case: none;
  --typography-label-medium-font-size: 12px;
  --typography-label-medium-text-decoration: none;
  --typography-label-medium-font-family: DM Sans;
  --typography-label-medium-font-weight: 500;
  --typography-label-medium-font-style: normal;
  --typography-label-medium-font-stretch: normal;
  --typography-label-medium-letter-spacing: 0.012px;
  --typography-label-medium-line-height: 16px;
  --typography-label-medium-paragraph-indent: 0px;
  --typography-label-medium-paragraph-spacing: 0px;
  --typography-label-medium-text-case: none;
  --typography-label-small-font-size: 10px;
  --typography-label-small-text-decoration: none;
  --typography-label-small-font-family: DM Sans;
  --typography-label-small-font-weight: 400;
  --typography-label-small-font-style: normal;
  --typography-label-small-font-stretch: normal;
  --typography-label-small-letter-spacing: 0.01px;
  --typography-label-small-line-height: 16px;
  --typography-label-small-paragraph-indent: 0px;
  --typography-label-small-paragraph-spacing: 0px;
  --typography-label-small-text-case: none;
}

[data-theme="dark"], .dark {
  /* Dark Theme Colors */
  --color-primary: hsl(196, 68%, 51%);
  --color-on-primary: hsl(195, 100%, 14%);
  --color-primary-container: hsl(194, 100%, 20%);
  --color-on-primary-container: hsl(201, 100%, 87%);
  --color-secondary: hsl(204, 57%, 77%);
  --color-on-secondary: hsl(199, 85%, 15%);
  --color-secondary-container: hsl(202, 46%, 26%);
  --color-on-secondary-container: hsl(205, 100%, 89%);
  --color-tertiary: hsl(200, 72%, 75%);
  --color-on-tertiary: hsl(195, 100%, 14%);
  --color-tertiary-container: hsl(194, 100%, 20%);
  --color-on-tertiary-container: hsl(200, 100%, 87%);
  --color-error: hsl(6, 100%, 84%);
  --color-on-error: hsl(357, 100%, 21%);
  --color-error-container: hsl(355, 100%, 29%);
  --color-on-error-container: hsl(6, 100%, 92%);
  --color-background: hsl(0, 0%, 11%);
  --color-on-background: hsl(0, 0%, 89%);
  --color-surface: hsl(0, 0%, 11%);
  --color-on-surface: hsl(0, 0%, 89%);
  --color-surface-variant: hsl(0, 1%, 28%);
  --color-on-surface-variant: hsl(20, 3%, 78%);
  --color-outline: hsl(0, 1%, 57%);
  --color-outline-variant: hsl(0, 1%, 28%);
  --color-inverse-surface: hsl(0, 0%, 89%);
  --color-inverse-on-surface: hsl(0, 0%, 19%);
  --color-inverse-primary: hsl(194, 100%, 26%);
  --color-surface-dim: hsl(0, 0%, 11%);
  --color-surface-bright: hsl(0, 0%, 19%);
  --color-surface-container-lowest: hsl(0, 0%, 0%);
  --color-surface-container-low: hsl(0, 0%, 11%);
  --color-surface-container: hsl(0, 0%, 11%);
  --color-surface-container-high: hsl(0, 0%, 19%);
  --color-surface-container-highest: hsl(0, 0%, 19%);
}
